/* Roller2.css */
.roller2 {
  width: 100%;
  height: 772px;
  position: relative;
  background-color: #000;
}

.frame186 {
  display: flex;
  flex-direction: column;
  width: 266px;
  height: 202px;
  position: absolute;
  top: 399px;
  left: 429px;
  border: 1px solid #868686;
  padding: 40px 30px;
  gap: 10px;
  background-color: #212020c1;
}

.text-faster {
  width: auto;
  height: auto;
  font-family: 'Poppins', sans-serif;
  font-weight: 790;
  font-style: normal;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.24%;
  color: #FFFFFF;
}

.text-speed-up {
  width: 193px;
  height: 76px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 1;
  font-style: normal;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.24px;
  color: #FFFFFF;
  opacity: 0.9;
}

.frame184 {
  display: flex;
  flex-direction: column;
  width: 266px;
  height: 183px;
  position: absolute;
  top: 179px;
  left: 429px;
  border: 1px solid #868686;
  padding: 40px 30px;
  gap: 10px;
  background-color: #212020c1;
}

.text-precise {
  width: auto;
  height: auto;
  font-family: 'Poppins', sans-serif;
  font-weight: 790;
  font-style: normal;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.24%;
  color: #FFFFFF;
}

.text-achieve-accuracy {
  width: 209px;
  height: 76px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 0.5;
  font-style: normal;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.24px;
  color: #FFFFFF;
  opacity: 0.9;
}

.frame185 {
  display: flex;
  flex-direction: column;
  width: 266px;
  height: 202px;
  position: absolute;
  top: 399px;
  left: 139px;
  border: 1px solid #868686;
  padding: 40px 30px;
  gap: 10px;
  background-color: #212020c1;
}

.text-advanced {
  width: auto;
  height: auto;
  font-family: 'Poppins', sans-serif;
  font-weight: 790;
  font-style: normal;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.24%;
  color: #FFFFFF;
}

.text-harness-technology {
  width: 193px;
  height: 76px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 1;
  font-style: normal;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.24px;
  color: #FFFFFF;
  opacity: 0.9;
}

.frame183 {
  display: flex;
  flex-direction: column;
  width: 266px;
  height: 183px;
  position: absolute;
  top: 179px;
  left: 139px;
  border: 1px solid #868686;
  padding: 40px 30px;
  gap: 10px;
  background-color: #212020c1;
}

.text-safer {
  width: auto;
  height: auto;
  font-family: 'Poppins', sans-serif;
  font-weight: 790;
  font-style: normal;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.24%;
  color: #FFFFFF;
}

.text-designed-safety {
  width: 193px;
  height: 76px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 1;
  font-style: normal;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.24px;
  color: #FFFFFF;
  opacity: 0.9;
}

.image-0f91d2bb {
  width: 661px;
  height: 377px;
  position: absolute; 
  top: 50%; left: 50%;
  transform: translate(-50%, -50%); 
  padding: 20px;
}

.ellipse {
  width: 442.4px;
  height: 442.4px;
  position: absolute;
  top: 153.4px;
  left: 851.8px;
  border: 24px solid rgba(109, 109, 109, 0.4);
  border-radius: 50%;
  opacity: 0.7;
  background: transparent;
}

.ellipse2 {
  width: 631.2px;
  height: 631.2px;
  position: absolute;
  top: 59px;
  left: 759px;
  border: 80px solid rgba(109, 109, 109, 0.4);
  border-radius: 50%;
  opacity: 0.7;
  background: transparent;
}

@media screen and (max-width: 768px) {
  .roller2 {
    height: 1200px;
    padding-bottom: 50px;
  }

  .ellipse {
    width: 171.24px;
    height: 172.09px;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid rgba(109, 109, 109, 0.4);
    border-radius: 50%;
    opacity: 0.7;
    background: transparent;
  }

  .ellipse2 {
    width: 256px;
    height: 256px;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    border: 30px solid rgba(109, 109, 109, 0.4);
    border-radius: 50%;
    opacity: 0.7;
    background: transparent;
  }

  .image-0f91d2bb {
    position: absolute;
    width: 288.24px;
    height: 173.41px;
    top: 55%; left: 40%;
    transform: translate(-50%, -50%); 
    padding: 20px;
  }

  .frame183, .frame184, .frame185, .frame186 {
    position: absolute;
    width: 90%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0;
    border: 1px solid #868686;
    gap: 10px;
    background-color: #212020c1;
    border-radius: 4px;
  }

  .text-safer, .text-precise, .text-advanced, .text-faster {
    width: 100%;
    font-size: 24px;
  }

  .text-designed-safety, .text-achieve-accuracy, .text-harness-technology, .text-speed-up {
    width: 100%;
    font-size: 14px;
  }

  .frame183 { top: 340px; }
  .frame184 { top: 560px; }
  .frame185 { top: 780px; }
  .frame186 { top: 1000px; }
}
