/* SprayLandingPage.css */
.spray-container {
  width: 100%;
  height: 2391px;
  background-color: #000000;
  position: relative;
  overflow: hidden;
}

.rectangle31 {
  position: absolute;
  width: 100vw;
  height: 600px;
  top: 1622px;
  left: 0px;
  background-color: #000000;
  opacity: 0.5;
}

.image25 {
  position: absolute;
  width: 100vw;
  height: 621px;
  top: 1610px;
  left: 0px;
  object-fit: cover;
}

.vector30 {
  position: absolute;
  width: 1110.97px;
  height: 1537.8px;
  top: 417px;
  left: -241px;
  border: 10px solid;
  border-image-source: linear-gradient(180deg, #F5F5F5 0%, #716E73 100%);
  border-image-slice: 1;
  transform: rotate(-45deg);
  filter: blur(70px);
}

.vector30-2 {
  position: absolute;
  width: 1110.97px;
  height: 1537.8px;
  top: 940px;
  left: -225px;
  transform: rotate(19.34deg);
  filter: blur(70px);
}

.vector {
  position: absolute;
  width: 1072.61px;
  height: 908.38px;
  top: 2759px;
  left: 421px;
  background-color: #2B2B2B;
  transform: rotate(-135.55deg);
  filter: blur(300px);
}

.vector-2 {
  position: absolute;
  width: 1072.61px;
  height: 908.38px;
  top: 2300px;
  left: -100px;
  background-color: #2B2B2B;
  transform: rotate(-28.46deg);
  filter: blur(300px);
}

.vector-3 {
  position: absolute;
  width: 1072.61px;
  height: 908.38px;
  top: 1579px;
  left: 823px;
  background-color: #2B2B2B;
  transform: rotate(89.02deg);
  filter: blur(300px);
}

.vector-4 {
  position: absolute;
  width: 1072.61px;
  height: 908.38px;
  top: 1125px;
  left: -489px;
  background-color: #2B2B2B;
  filter: blur(300px);
}

.vector-5 {
  position: absolute;
  width: 1072.61px;
  height: 908.38px;
  top: 5182.99px;
  left: 448.44px;
  background-color: #2B2B2B;
  transform: rotate(-135.55deg);
  filter: blur(300px);
}

.vector-6 {
  position: absolute;
  width: 1072.61px;
  height: 908.38px;
  top: 3737px;
  left: -343px;
  background-color: #2B2B2B;
  transform: rotate(-28.46deg);
  filter: blur(300px);
}

/* Mobile styles */
@media screen and (max-width: 768px) {
  .spray-container {
    width: 100%;
    height: 2250px;
    background-color: #000000;
    position: relative;
    overflow: hidden;
  }

  .image25 {
    position: absolute;
    width: 100%;
    height: auto;
    top: 1670px;
    left: 0;
    object-fit: cover;
  }

  .rectangle31 {
    width: 100%;
    height: 400px;
    top: 1700px;
    left: 0;
  }

  .vector30, .vector30-2 {
    width: 1110.97px;
    height: 1537.8px;
    border: 10px solid;
    border-image-slice: 1;
    filter: blur(70px);
  }

  .vector30 {
    top: -250px;
    left: -600px;
    transform: rotate(-45deg);
    border-image-source: linear-gradient(180deg, #F5F5F5 0%, #716E73 100%);
  }

  .vector30-2 {
    top: 700px;
    left: -225px;
    transform: rotate(19.34deg);
    border-image-source: linear-gradient(180deg, #F5F5F5 0%, #716E73 100%);
  }

  .vector, .vector-2, .vector-3, .vector-4, .vector-5, .vector-6 {
    width: 500px;
    height: 400px;
    filter: blur(300px);
  }

  .vector {
    top: 2000px;
    left: -100px;
  }

  .vector-2 {
    top: 1800px;
    left: -200px;
  }

  .vector-3 {
    width: 572.61px;
    height: 908.38px;
    bottom: 200px;
    left: 550px;
    transform: none;
    z-index: 0;
  }

  .vector-4 {
    display: none;
  }

  .vector-5 {
    display: none;
  }

  .vector-6 {
    display: none;
  }
}